body{
    text-align: center;
    background-color: #B980F0;
   }
h3{
    color:red;
}
.sus{
    color: red;
}

h2{
    color: red;
}
.milja{
    color: red;
    text-align: right;
    font-size: larger;
}

.jozo{
    color: red;
    font-size: 15px;
    text-align: left;
}